// topThreeStudents.module.scss

.topThreeContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    gap: 2rem;

    @media screen and (max-width: 968px) {
        max-width: 700px;
        gap: 1rem;
    }

    @media screen and (max-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        gap: 2rem;
    }

    .studentCard {
        position: relative;
        translate: 0 -15%;
        opacity: 0;
        // Animation class for entrance effect
        &.visible {
            animation: fadeInScale 0.3s ease-out forwards;
        }
        @media screen and (max-width: 768px) {
            width: fit-content;
            margin: auto;
        }

        @media screen and (max-width: 480px) {
            transform: translateY(-25%) !important;

            &:not(:last-of-type) {
                margin-bottom: 2rem;
            }
        }
        &[data-rank='1'] {
            order: 2; // Center position in flex container
            transform: translateY(-65%);

            @media screen and (max-width: 768px) {
                order: 1; // First on mobile
                transform: translateY(-50%);
            }
            .profileImageWrapper {
                border-color: var(--red);
            }
            .pointsBadge,
            .rankBadge {
                background-color: var(--red);
            }
        }

        &[data-rank='2'] {
            order: 3;
            transform: translateY(-50%);

            @media screen and (max-width: 768px) {
                order: 2;
                transform: translateY(-35%);
            }
            .profileImageWrapper {
                border-color: var(--yellow);
            }
            .pointsBadge,
            .rankBadge {
                background-color: var(--yellow);
            }
        }

        &[data-rank='3'] {
            order: 1;
            transform: translateY(-40%);

            @media screen and (max-width: 768px) {
                order: 3;
                transform: translateY(-25%);
            }
            .profileImageWrapper {
                border-color: var(--green);
            }
            .pointsBadge,
            .rankBadge {
                background-color: var(--green);
            }
        }
    }
    .cardContent {
        position: relative;
        padding: 3.5rem 2rem 2rem 2rem;
        border-radius: 10px;
        background-color: var(--light-color);
        box-shadow: 1px 1px 94px -42px rgba(0, 0, 0, 0.68);

        @media screen and (max-width: 968px) {
            padding: 3.5rem 1rem 3rem 1rem;
        }

        @media screen and (max-width: 768px) {
            padding: 3.5rem 1rem 3rem 1rem;
        }

        .profileContainer {
            display: flex;
            position: absolute;
            top: -45px;
            left: 50%;
            align-items: center;
            justify-content: center;
            width: 85px;
            height: 85px;
            transform: translateX(-50%);
            border-radius: 50%;
            background-color: var(--light-color);

            .profileImageWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 75px;
                height: 75px;
                overflow: hidden;
                border-width: 4px;
                border-style: solid;
                border-radius: 50%;

                .crownIcon {
                    position: absolute;
                    top: -10px;
                }

                .profilePlaceholder {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    color: var(--dark-color);
                    font-weight: 600;
                    font-size: 1.6rem;
                }

                .profileImage {
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    object-position: center;
                }
            }
        }

        .studentInfo {
            margin-bottom: 1rem;
            text-align: center;

            .studentName {
                font-weight: 600;
                font-size: 1rem;
            }

            .placementText {
                color: var(--secondary-light-color);
                font-weight: 600;
                font-size: 14px;
            }
        }

        .pointsContainer {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            // Divider line behind points badge
            &::after {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: var(--secondary-light-color);
                content: '';
            }

            .pointsBadge {
                z-index: 2;
                position: relative;
                width: fit-content;
                padding: 5px 15px;
                border-radius: 15px;
                color: var(--light-color);
                font-weight: 600;
                font-size: 14px;

                @media screen and (max-width: 480px) {
                    font-size: 12px;
                }
            }
        }

        .detailsContainer {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto;
            gap: 1rem;

            .detailItem {
                display: flex;
                gap: 5px;

                .detailIcon {
                    width: 30px;
                }

                .detailContent {
                    display: flex;
                    flex-direction: column;

                    .detailLabel {
                        display: block;
                        color: var(--secondary-light-color);
                        font-weight: 700;
                        font-size: 12px;
                    }

                    .detailValue {
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .rankBadge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: auto;
        margin-top: 1rem;
        border-radius: 50%;
        color: var(--light-color);
        font-weight: 600;
        font-size: 1.6rem;

        @media screen and (max-width: 480px) {
            width: 40px;
            height: 40px;
            font-size: 1.4rem;
        }
    }
}

@keyframes fadeInScale {
    from {
        translate: 0 -15%;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}
