// languageSwitcher.module.scss

.languageSwitcher {
    position: relative;
    width: fit-content;
    margin: 8px 12px;
    .flag {
        width: 25px;
        height: auto;
        border-radius: 4px;
    }
    .switcherButton {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        gap: 0.5rem;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        background-color: #f5f5f5;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: #e0e0e0;
        }

        .languageName {
            color: #333333;
            font-weight: 600;
            font-size: 14px;
        }
        .arrow {
            margin-left: 2px;
            color: #757575;
            font-size: 12px;
        }
    }
    .dropdown {
        z-index: 100;
        position: absolute;
        top: calc(100% + 2px);
        right: 0;
        width: 100%;
        overflow: hidden;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        .languageOption {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.5rem;

            gap: 0.5rem;
            border: none;
            background: none;
            text-align: left;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            .languageName {
                font-weight: 600;
            }
            &:hover {
                background-color: #fafafa;
            }

            &.active {
                background-color: #e3f2fd;
            }
        }
    }
}
