.errorPage {
    background-color: var(--background-color);

    .errorContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 76px);
        gap: 1rem;

        .errorImage {
            width: 400px;

            @media screen and (max-width: 768px) {
                width: 300px;
            }

            @media screen and (max-width: 480px) {
                width: 250px;
            }
        }

        .errorMessage {
            width: 80%;
            margin: 0 auto;
            color: var(--light-color);
            font-weight: 500;
            font-size: 1.8rem;
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 1.6rem;
            }

            @media screen and (max-width: 480px) {
                font-size: 1.4rem;
            }
        }
    }
}
